<header id="main-header">
	<nav>
		<ul>
		
		</ul>
	</nav>
</header>

<div>
	<%= form_with(model: @profile, local: true) do |form| %>
		<div class="field">
			<%= form.text_area :tweet , placeholder: "¿Qué estás pensando?", maxlength:"280"%>
			<%= form.file_field :image %>
		</div>
		<div>
			<%= form.submit "publicar" %>
		</div>
	<% end %>

</div>
<div>
	<% @profiles.each do |t|%>
		
		<p><%=t.user_name%> - <%=t.tweet%>
		<%= image_tag(t.image,  :size => "180x135") if t.image.attached? %>
		<label><%= t.likes.length %></label>
		<%= link_to 'like', likes_path(id:t.id), method: :post=%>
		<%= link_to 'show', profile_path(t), method: :get=%>
		<%= link_to 'delete', profile_path(t),
				method: :delete, data: { confirm: 'Are you sure?' }=%>
	<%end%>
</div>