
<div class="card mx-auto" style="width:40rem; height: 20rem">
  <h5 class="card-header text-white">What are you thinking?</h5>
  <div class="card-body">
    <%= form_with(model: @profile, local: true) do |form| %>
		<div class="field">
			<%= form.text_area :tweet, maxlength:"280", class: "input1"%>
			<%= form.file_field :image %>
		</div>
		<div>
			<%= form.submit "Tweet", class: "btn btn-primary" %>
		</div>
	<% end %>
  </div>
  
</div>

<div>
	<% @profiles.each do |t|%>
		<div class="card mb-3 mx-auto">
			<div class="card-body">
				<h5 class="card-header text-white mx-auto"><%=t.user_name%></h5>
				<% if t.image.attached?%>
					<%= image_tag(t.image, class: "test card-img-top")%>
				<%end%>
				<p class="card-text text-white"><%=t.tweet%></p>
				<p class="card-footer"><small class="text-muted"><%= t.likes.length %> Likes | <%=t.created_at%></small></p>
				<%= link_to 'like', likes_path(id:t.id), method: :post=%>
				<%= link_to 'show', profile_path(t), method: :get=%>
				<%= link_to 'delete', profile_path(t),
						method: :delete, data: { confirm: 'Are you sure?' }=%>
			</div>
		</div>		
	<%end%>
</div>