<div class="card bg-light mb-3 center mx-auto">
	<div class="card-body">
		<h5 class="card-header text-white"><%=@profile.user_name%></h5>
		<% if @profile.image.attached?%>
			<%= image_tag(@profile.image, class: "test card-img-top")%>
		<%end%>
		<p class="card-text text-white"><%=@profile.tweet%></p>
		<p class="card-footer"><small class="text-muted"><%= @profile.likes.length %> Likes | <%=@profile.created_at%></small></p>
		<%= link_to 'like', likes_path(id:@profile.id), method: :post=%>
		<%= link_to 'show', profile_path(@profile), method: :get=%>
		<%= link_to 'delete', profile_path(@profile),
				method: :delete, data: { confirm: 'Are you sure?' }=%>
	</div>
</div>
